{% block sub_category_link %}
    <div class="row">
        <div>
            <a href="waiting.html.twig">Catégorie "En attente"</a>
        </div>
        <div>
            <a href="validate.html.twig">Catégorie "Validée"</a>
        </div>
        <div>
            <a href="reject.html.twig">Catégorie "Refusée/à modifier"</a>
        </div>
    </div>
{% endblock %}